/*
Page layout & global styling
*/
/* This root color palette will be refined */
:root {
    --clr-fuchsia-50: #faf5ff;
    --clr-fuchsia-100: #fae8ff;
    --clr-fuchsia-200: #f5d0fe;
    --clr-fuchsia-300: #f0abfc;
    --clr-fuchsia-400: #e879f9;
    --clr-fuchsia-500: #d946ef;
    --clr-fuchsia-600: #c026d3;
    --clr-fuchsia-700: #a21caf;
    --clr-fuchsia-800: #86198f;
    --clr-fuchsia-900: #701a75;
    --clr-fuchsia-950: #4a044e;

    --clr-emerald-50: #ecfdf5;
    --clr-emerald-100: #d1fae5;
    --clr-emerald-200: #a7f3d0;
    --clr-emerald-300: #6ee7b7;
    --clr-emerald-400: #34d399;
    --clr-emerald-500: #10b981;
    --clr-emerald-600: #059669;
    --clr-emerald-700: #047857;
    --clr-emerald-800: #065f46;
    --clr-emerald-900: #064e3b;
    --clr-emerald-950: #022c22;

    --clr-white: #fff; 
    --clr-black: #000;
    --clr-light-grey: #d1d5db;
    --clr-dark-grey: #4b5563;
}

* {
    font-family: 'Readex Pro';
}

body {
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 10rem 2fr 2fr;
}

/*
Header grid layout & styling
*/

.header {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
    grid-area: 1 / 2 /  2 / 6;
}

.header-search-bar {
    align-self: center;
    grid-area: 1 / 1 / 2 / 2;
}

.header-profile-icons {
    display: grid;
    grid-template-columns: 5rem 5rem 10rem;
    align-items: center;
    justify-items: center;
    grid-area: 1 / 3 / 2 / 4;
}

.header-welcome-icons {
    display: grid;
    grid-template-columns: 4rem 26rem;
    align-items: center;
    justify-items: center;
    grid-area: 2 / 1 / 2 / 2;
}

h2 {
    margin: 0;
}

.header-btn-container {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-area: 2 / 2 / 2 / 4;
}

.button { 
    border-radius: 2rem;
    width: fit-content;
    height: fit-content;
    padding: 0.75rem 1.5rem;
}
/*
Sidebar grid layout & styling
*/

.sidebar {
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-area: 1 / 1 / 4 / 2;
    
}

/*
Content grid layout & styling
*/

.content-projects {
    display: grid;
    grid-template-columns: repeat(2, 20rem);
    grid-template-rows: repeat(3, 20rem);
    grid-area: 2 / 2 / 4 / 5;
}


.content-announcements {
    grid-area: 2 / 3 / 3 / 6;
}

.content-trending {
    grid-area: 3 / 3 / 4 / 6;
}